@import "./colors.css";

.card-buttons {
    margin-block-end: 20px;
}

.card {
    width: 300px;
    background-color: white;
    box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 10px;
    margin-inline: 20px;
    margin-block: 20px;
    display: inline-block;
    vertical-align: top;
    position: relative;
}

.overlay {
    position: absolute;
    top: 0; bottom: 0; left: 0; right: 0;
    height: 80%;
    width: 100%;
}

.card-text {
    margin-block-start: 20px;
}

.card-image {
    line-height: 200px;
    height: 200px;
    overflow-y: hidden;
}

.card-image img {
    width: 300px;
    height: auto;
    border-radius: 10px 10px 0px 0px;
}

.card-header {
    line-height: 20px;
}

.card-title {
    font-size: 20px;
    font-weight: bold;
    margin-block: 0;
    margin-inline: 20px;
}

.card-date {
    font-size: 14px;
    color: var(--Medium-Gray);
    margin-block: 0;
    margin-inline: 20px;
    float: right;
}

.card-description {
    font-size: 16px;
    margin-inline: 20px;
    margin-block-start: 10px;
    margin-block-end: 20px;
    height: 110px;
    overflow-y: hidden;
    /* width: 260px;
    white-space: initial;
    overflow: hidden; */
}