@import "./colors.css";

.hero {
    height: auto;
    margin-block-start: 50px;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.hero .image img {
    width: 500px;
    border-radius: 10%;
    margin-inline-start: 50px;
}

.hero-text {
    margin-inline-start: 50px;
}

.hero-text h1, h2, h3 {
    margin-block: 0;
}

.hero-text h1 {
    font-family: 'Roboto', sans-serif;
    font-weight: 700;
    font-size: 72px;
    background-color: #21D4FD;
    background-image: linear-gradient( 109.6deg,  rgba(45,116,213,1) 11.2%, rgba(121,137,212,1) 91.2% );
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.hero-text h2 {
    color: var(--Gray);
    font-size: 48px;
}

.hero-text h3 {
    color: var(--Medium-Gray);
    font-size: 32px;
}

@media screen and (max-width: 768px)  {
    .hero {
        flex-direction: column;
        margin-block-start: 20px;
    }

    .hero .image img {
        width: 300px;
        margin-inline-start: 0;
        margin-block-end: 20px;
    }

    .hero-text h1, h2, h3 {
        margin-block: 10px;
    }

    .hero-text {
        margin-inline-start: 0;
        text-align: center;
    }

    .hero-text h1 {
        font-size: 36px;
    }

    .hero-text h2 {
        font-size: 24px;
    }

    .hero-text h3 {
        font-size: 20px;
    }
}