@import "./colors.css";

.bar {
    width: 100%;
    height: 91px;
    position: absolute;
    top: 0;
}

.logo p {
    color: var(--Material-Blue-Light);
    font-family: 'Roboto', sans-serif;
    font-size: 20px;
    font-weight: 700;
    padding-inline-start: 50px;
}

.logo a {
    text-decoration: none;
}

.nav a {
    color: var(--Material-Blue-Light);
    text-decoration: none;
    text-transform: uppercase;
    font-size: 16px;
    font-weight: bold;
}

.nav a:hover {
    color: white;
}

.nav ul, p {
    margin-block: 0;
}

.nav ul li {
    list-style: none;
    display: inline;
    margin-inline-end: 100px;
}

.bar div {
    margin-block-start: 36px;
    display: inline-block;
}

.nav {
    float: right;
}

@media screen and (max-width: 768px)  {
    .nav ul li{
        display: none;
    }

    .logo p {
        padding-inline-start: 30px;
    }
}