* {
    scrollbar-width: thin;
    scrollbar-color: var(--accent-text) var(--bg2);
}

*::-webkit-scrollbar {
    width: 6px;
}

*::-webkit-scrollbar-track {
    background: var(--accent-text);
}

*::-webkit-scrollbar-thumb {
    background-color: var(--accent-text);
    border-radius: 10px;
}
