* {
    scrollbar-width: thin;
    scrollbar-color: var(--accent) var(--bg2);
}

*::-webkit-scrollbar {
    width: 6px;
}

*::-webkit-scrollbar-track {
    background: var(--bg2);
}

*::-webkit-scrollbar-thumb {
    background-color: var(--accent);
    border-radius: 10px;
}
