@import "./colors.css";

.section-content {
    margin-block: 100px;
    margin-inline: 100px;
}

.mobile-badges, .card-buttons, .cards-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.subtitle img {
    display: none;
}

.subtitle {
    text-transform: uppercase;
    background-color: black;
    color: white;
    padding: 10px;
    padding-inline: 20px;
    box-shadow: -7px 7px 0 0px var(--Blue-Light);
}

#communities .overlay{
    height: 100%;
}

#communities .card-image {
    height: 300px;
}

.footer{
    background: #4568DC;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #9599E2, #4568DC);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right,#9599E2, #4568DC); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

.footer p , .footer a{
    color: white;
    text-decoration: none;
}

.footer-content {
    display: flex;
    padding-block-end: 50px;
    padding-block-start: 50px;
    padding-inline: 100px;
}

.credits {
    font-size: 20px;
    width: 100%;
    justify-content: center;
    text-align: center;
}

.about {
    width: 80%;
    text-align: center;
    font-style: italic;
    font-size: 20px;
    color: var(--Gray);
    display: inline-flex;
    align-self: center;
}

.repo-card {
    display: table-cell;
    padding: 20px;
}

#About {
    text-align-last: center;
}

@media screen and (max-width: 768px)  {
    .section-content {
        margin-inline: 20px;
        margin-block: 20px;
    }

    .about {
        font-size: 16px;
        margin-block: 40px;
    }

    .footer .logo {
        display: none;
    }

    .footer-content {
        padding-block: 30px;
        padding-inline: 50px;
    }
    
    .credits {
        font-size: 14px;
    }

    .credits img {
        height: 15px;
    }

    .repo-card {
        display: inline;
        padding: 20px;
    }
}