:root {
    --Blue-Primary: #304FFE;
    --Blue-Light: #7A7CFF;
    --Blue-Dark: #0026CA;
    --Gray: #212121;
    --Medium-Gray: #424242;
}

html {
    font-size: 16px;
}

body {
    margin: 0;
    color: black;
    font-family: 'Nunito', sans-serif;
}

.bar {
    width: 100%;
    height: 91px;
    /* box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25); */
}

.logo p {
    color: var(--Blue-Primary);
    font-family: 'Roboto', sans-serif;
    font-size: 20px;
    font-weight: 700;
    padding-inline-start: 50px;
}

.logo a {
    text-decoration: none;
}

.nav a {
    color: var(--Gray);
    text-decoration: none;
    text-transform: uppercase;
    font-size: 16px;
    font-weight: bold;
}

.nav a:hover {
    color: var(--Blue-Primary);
}

.nav ul, p {
    margin-block: 0;
}

.nav ul li {
    list-style: none;
    display: inline;
    margin-inline-end: 100px;
}

.bar div {
    margin-block-start: 36px;
    display: inline-block;
    vertical-align: center;
}

.nav {
    float: right;
}

.hero {
    height: auto;
    margin-block-start: 50px;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.hero .image img {
    width: 500px;
    border-radius: 10%;
    margin-inline-start: 50px;
}

.hero-text {
    margin-inline-start: 50px;
}

.hero-text h1, h2, h3 {
    margin-block: 0;
}

.hero-text h1 {
    font-family: 'Roboto', sans-serif;
    font-weight: 700;
    font-size: 72px;
}

.hero-text h2 {
    color: var(--Blue-Primary);
    font-size: 48px;
}

.hero-text h3 {
    color: var(--Gray);
    font-size: 32px;
}

.button {
    height: 50px;
    margin-block-start: 20px;
    display: inline-flex;
    background-color: var(--Blue-Primary);
    border-radius: 50px;
}

.button a{
    color: white;
    padding-inline: 40px;
    padding-block: 15px;
    font-size: 16px;
    text-decoration: none;
}

.section-content {
    margin-inline: 100px;
    margin-block: 100px;
}

.subtitle, .text-skills {
    display: inline-flex;
    margin-block-end: 40px;
}

.subtitle h4, img{
    display: inline-block;
    font-size: 30px;
}
.subtitle img {
    margin-inline-end: 20px;
    height: 50px;
}

.subtitle h4 {
    margin: 0;
    line-height: 50px;
    font-weight: bold;
}
.skills-badges {
    padding-inline: 50px;
}

.mobile-badges {
    margin-inline: 50px;
}

.text-skills img, p {
    display: inline-block;
}

.text-skills p {
    /* display: none; */
    margin-inline-start: 15px;
    margin-inline-end: 20px;
    line-height: 30px;
    font-size: 20px;
    color: var(--Medium-Gray);
    font-weight: bold;
}

.skills-badges {
    display: none;
    /* display: flex;
    flex-wrap: wrap;
    justify-content: center; */
}

.mobile-badges, .card-buttons, .cards-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    /* display: none; */

}

.card-buttons {
    margin-block-end: 20px;
}

.card {
    width: 300px;
    background-color: white;
    box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 10px;
    margin-inline: 20px;
    margin-block: 20px;
    display: inline-block;
    vertical-align: top;
    position: relative;
}

.overlay {
    position: absolute;
    top: 0; bottom: 0; left: 0; right: 0;
    height: 80%;
    width: 100%;
}

.card-text {
    margin-block-start: 20px;
}

.card-image {
    line-height: 200px;
    height: 200px;
    overflow-y: hidden;
}

.card-image img {
    width: 300px;
    height: auto;
    border-radius: 10px 10px 0px 0px;
}

.card-header {
    line-height: 20px;
}

.card-title {
    font-size: 20px;
    font-weight: bold;
    margin-block: 0;
    margin-inline: 20px;
}

.card-date {
    font-size: 14px;
    color: var(--Medium-Gray);
    margin-block: 0;
    margin-inline: 20px;
    float: right;
}

.card-description {
    font-size: 16px;
    margin: 20px;
    height: 110px;
    overflow-y: hidden;
    /* width: 260px;
    white-space: initial;
    overflow: hidden; */
}

.figma-button {
    background-color: #DCE1FF;
    border-radius: 5px;
    margin-inline: 15px;
    margin-block: 5px;
    padding-inline: 15px;
    padding-block: 10px;
    display: inline-flex;
    text-decoration: none;
    color: black;
    line-height: 20px;
}

.figma-button img, .github-button img{
    height: 20px;
    margin-inline-end: 10px;
}

.github-button {
    background-color: black;
    border-radius: 5px;
    margin-inline: 15px;
    margin-block: 5px;
    padding-inline: 15px;
    padding-block: 10px;
    display: inline-flex;
    text-decoration: none;
    color: white;
    line-height: 20px;
}

#communities .overlay{
    height: 100%;
}

#communities .card-image {
    height: 300px;
}

.footer{
    background-color: var(--Blue-Light);
}

.footer p , .footer a{
    color: white;
    text-decoration: none;
}

.footer-content {
    display: flex;
    padding-block-end: 50px;
    padding-block-start: 50px;
    padding-inline: 100px;
}

.credits {
    font-size: 20px;
    width: 100%;
    justify-content: center;
    text-align: center;
}

.about {
    width: 80%;
    text-align: center;
    font-style: italic;
    font-size: 20px;
    color: var(--Gray);
    display: inline-flex;
    align-self: center;
}

#About {
    text-align-last: center;
}

.networks {
    width: 100%;
    justify-content: center;
    text-align: center;
}

.networks a {
    margin-inline: 50px;
    text-decoration: none;
    display: inline-grid;
    color: var(--Medium-Gray);
}

.networks a:hover {
    color: var(--Gray);
    font-weight: bold;
}

.networks img {
    height: 70px;
}