:root {
    --Blue-Primary: #304FFE;
    --Blue-Light: #7A7CFF;
    --Blue-Dark: #0026CA;
    --Gray: #212121;
}

html {
    font-size: 16px;
}

body {
    margin: 0;
    color: black;
    font-family: 'Nunito', sans-serif;
}

.bar {
    width: 100%;
    height: 91px;
    /* box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25); */
}

.logo p {
    color: var(--Blue-Primary);
    font-family: 'Roboto', sans-serif;
    font-size: 20px;
    font-weight: 700;
    padding-inline-start: 50px;
}

.logo a {
    text-decoration: none;
}

.nav a {
    color: var(--Gray);
    text-decoration: none;
    text-transform: uppercase;
    font-size: 16px;
    font-weight: bold;
}

.nav a:hover {
    color: var(--Blue-Primary);
}

.nav ul, p {
    margin-block: 0;
}

.nav ul li {
    list-style: none;
    display: inline;
    margin-inline-end: 100px;
}

.bar div {
    margin-block-start: 36px;
    display: inline-block;
    vertical-align: center;
}

.nav {
    float: right;
}

.hero {
    height: auto;
    margin-block-start: 100px;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.hero .image img {
    width: 500px;
    border-radius: 10%;
    margin-inline-start: 100px;
}

.hero-text {
    margin-inline-start: 100px;
}

.hero-text h1, h2, h3 {
    margin-block: 0;
}

.hero-text h1 {
    font-family: 'Roboto', sans-serif;
    font-weight: 700;
    font-size: 72px;
}

.hero-text h2 {
    color: var(--Blue-Primary);
    font-size: 48px;
}

.hero-text h3 {
    color: var(--Gray);
    font-size: 32px;
}

.button {
    height: 50px;
    margin-block-start: 20px;
    display: inline-flex;
    background-color: var(--Blue-Primary);
    border-radius: 50px;
}

.button a{
    color: white;
    padding-inline: 40px;
    padding-block: 15px;
    font-size: 16px;
    text-decoration: none;
}

.skills {
    margin: 100px;
}

.skills-text, .text-skills {
    display: inline-flex;
    margin-block-end: 40px;
}

.skills-text h4, img{
    display: inline-block;
    font-size: 30px;
}
.skills-text img {
    margin-inline-end: 20px;
    height: 50px;
}

.skills-text h4 {
    margin: 0;
    line-height: 50px;
    font-weight: bold;
}
.skills-badges {
    padding-inline: 50px;
}

.mobile-badges {
    margin-inline: 50px;
}

.text-skills img, p {
    display: inline-block;
}

.text-skills p {
    /* display: none; */
    margin-inline-start: 15px;
    margin-inline-end: 20px;
    line-height: 30px;
    font-size: 20px;
    color: #515151;
    font-weight: bold;
}

.skills-badges {
    display: none;
    /* display: flex;
    flex-wrap: wrap;
    justify-content: center; */
}

.mobile-badges {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    /* display: none; */

}
